@media (max-width: 765px) {
	.item {
		width: 85%;
	}

	.header h1 {
		font-size: 10vw;
	}
}

@media (max-width: 480px) {
	body {
		font-size: 3.3vw;
	}

	.item p {
		line-height: 1.16em;
	}
}

@media (min-width: 1367px) {
	body {
		font-size: 1.2vw;
	}

	.header h1 {
		font-size: 6vw;
	}

	.item {
		width: 48%;
	}

	.item p {
		line-height: 1.16em;
	}
}