@media (max-width: 765px) {
	.item {
		width: 85%;
	}

	.header h1 {
		font-size: 10vw;
	}
}

@media (max-width: 480px) {
	body {
		font-size: 3.3vw;
	}

	.item p {
		line-height: auto;
	}
}

@media (min-width: 1367px) {
	.item {
		width: 48%;
	}
}