@media (max-width: 1230px) {
	.item {
		width: 55%;
	}
}

@media (max-width: 1023px) {
	.item {
		width: 65%;
	}
}

@media (max-width: 800px) {
	.item {
		width: 85%;
	}

	.header h1 {
		font-size: 10vw;
	}
}