body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #3a123a;
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #f2f2f2;
}

h1, a, p, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ============================================================================= Хэдэр */

.header {
  background-image: url("img/sunset2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.header .container {
  text-align: center;
  padding-top: 18%;
  padding-bottom: 10%;
}

.header h1 {
  display: block;
  font-size: 6vw;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

/* ============================================================================= Мои работы */

.item {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding-top: 2%;
  padding-bottom: 1%;
  box-sizing: border-box;
}

.item-preview {
  width: 80%;
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

.item p {
  width: 80%;
  text-indent: 8%;
}

.btns-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 2px;
  width: 40%;
  margin-top: 3%;  
  background-color: #150715;
  border-radius: 3px;
  box-sizing: border-box;
}

.btns-wrap .btn {
  margin-bottom: 2%;
}

.item a:hover {
  color: rgba(204, 172, 0, 0.95);
  box-shadow: 0 0 3px 2px rgba(204, 172, 0, 0.35);
  transition-duration: 90ms;
}

.last-btn {
  margin-top: 2%;
}

/* ============================================================================= Футер */

.footer {
  height: 106px;
  background-color: #150715;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ftr-btns-wrap {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.ftr-lnk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border: 2px solid #ffd700;
  border-radius: 4px;
  background: no-repeat center/75%;
  filter: grayscale(1) brightness(1.15);
  transition-duration: 120ms;
}

.ftr-lnk:hover {
  filter: grayscale(0) brightness(0.8);
}

.git {
  background-image: url(img/github2.svg);  
}

.acdmy {
  background-image: url(img/htmlacademy2.svg);
}

.email {
  background-image: url(img/mail2.svg);
}